<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="GameDirectory" value="" />
        <add key="CheckAtLaunch" value="false" />
        <add key="MergedModName" value="modMergedScripts" />
        <add key="BackupDirectory" value="Script Merger Backups" />
        <add key="MoveToBackupAfterMerge" value="true" />
        <add key="BackupNameDateFormat" value="-yyyyMMdd-HHmmss" />
        <add key="ConflictResolverContextRadius" value="25" />
    </appSettings>
</configuration>