<?xml version="1.0" encoding="utf-8" ?>

<!-- ABOUT THE SETTINGS
       GameDirectory        The Witcher 3 Wild Hunt folder
       Scripts Directory    Where to look for vanilla scripts (if blank, will look in \GameDirectory\content\content0\scripts)
       ModsDirectory        Where to look for mod folders (if blank, will look in \GameDirectory\mods)
       
       CheckScripts         Whether to check for script conflicts
       CheckBundleContents  Whether to check for bundle conflicts
       CollapseUnsupported  Whether to auto-collapse conflicts that can't be merged (any files that aren't .ws or .xml)
       IgnoreModNames       Which mod folders to ignore (separated by commas)
       
       MergedModName        Which mod folder to save merges in (should be 1st alphabetically, so the game loads it before others)
       ReviewEachMerge      Whether to show the text comparison UI for every merge, instead of just ones that aren't auto-solvable
       ShowPathsInKDiff3    Whether to show file paths in KDiff3 instead of just Vanilla, modName1, modName2
       ReportAfterMerge     Whether to show a report after merging 2 files, with buttons to open files/directories
       ReportAfterPack      Whether to show a report after packing a bundle, with list of contents & button to open directory
       
       KDiff3Path           Where KDiff3.exe is located
       QuickBmsPath         Where quickbms.exe is located
       QuickBmsPluginPath   Where the witcher3.bms plugin for QuickBMS is located
       WccLitePath          Where wcc_lite.exe is located
-->

<configuration>
  <appSettings>
    <add key="GameDirectory" value="" />
    <add key="ScriptsDirectory" value="" />
    <add key="ModsDirectory" value="" />
    <add key="CheckScripts" value="true" />
    <add key="CheckBundleContents" value="true" />
    <add key="CollapseUnsupported" value="false" />
    <add key="IgnoreModNames" value="" />
    <add key="MergedModName" value="mod0000_MergedFiles" />
    <add key="ReviewEachMerge" value="false" />
    <add key="ShowPathsInKDiff3" value="false" />
    <add key="ReportAfterMerge" value="true" />
    <add key="ReportAfterPack" value="true" />
    <add key="ShowStatusBar" value="true" />
    <add key="KDiff3Path" value="Tools\KDiff3\KDiff3.exe" />
    <add key="QuickBmsPath" value="Tools\QuickBMS\quickbms.exe" />
    <add key="QuickBmsPluginPath" value="Tools\QuickBMS\witcher3.bms" />
    <add key="WccLitePath" value="Tools\wcc_lite\bin\x64\wcc_lite.exe" />
    <add key="StartMaximized" value="false" />
    <add key="StartWidth" value="" />
    <add key="StartHeight" value="" />
    <add key="StartPosTop" value="" />
    <add key="StartPosLeft" value="" />
    <add key="StartSplitterPosPct" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>